$fontColor: rgb(0, 0, 0);
$fontColorHover: rgb(56, 141, 123);

.animate-page{
  margin-left: 400px;
  div{
    color: $fontColor;
    transition: 1s;
    &:hover{
      color: $fontColorHover;
    }
  }
}
.scroll{
  font-size: 30px;
  padding: 30px;
  height: 100px;
}
