#jaw{
  path{
  filter: blur(1);
  filter: drop-shadow(0 0 5 rgb(0, 0, 0));
  }
  animation: jawmove 1s ease-in-out infinite;
}
#face{
  path{
  filter: blur(1);
  filter: drop-shadow(0 0 5 rgb(94, 64, 66));
  }
}

@keyframes jawmove{
  0%{
    transform: translateY(0%) ;
  }
  50% {
    transform: translateY(2%);
  }
  100%{
    transform: translateY(0%) ;
  }
}
